/* Dusk over the shifting sands */

body {
margin: 0;
font-family: verdana, arial, helvetica, sans-serif;
color: #113A11;
/* background-color: #C5F5BF; */
background-image: url("../../images/bg_green.jpg");
border-top: 15px #134613 solid; /* Barra acima do Título */font-size: 14px;
}

/* Banner across top of page that says the name of the whole site */

#main-title {
margin-bottom: 10px;
margin-left: 0;
margin-right: 0;
padding-top:5px;  /* Corrigir no original, que era 15 */
padding-bottom: 8px;
padding-left: 25px;
padding-right: 0;
background-color: #276527;
border-top: 1px black solid;
border-bottom: 1px black solid;
color: #f8f8f8;
font-weight: bold;
font-size: 16px;
font-family: Verdana, Helvetica, Arial, sans-serif;
}

/* Heading level 1 is not contained in main-text. */

h1 {
margin-top: 0;
margin-bottom: 5px;
margin-left: 190px;
margin-right: 60px;
font-size: 18px;
color: #216119;
border-bottom: 1px #999 dashed;
padding-bottom: 10px;
padding-top: 0;
padding-left: 0;
padding-right: 0;
font-weight: bold;
}

h2 
{
margin-top: 0;
margin-bottom: 5px;
margin-left: 0;
margin-right: 0;
padding: 0;
font-size: 17px;
color: #216119;
font-weight: bold;
}

h3 
{
margin-top: 0;
margin-bottom: 5px;
margin-left: 0;
margin-right: 0;
padding: 0;
font-size: 16px;
color: #216119;
font-weight: bold;
}

h4
{
margin-top: 0;
margin-bottom: 5px;
margin-left: 0;
margin-right: 0;
padding: 0;
font-size: 15px;
color: #216119;
font-weight: bold;
}

/* Adicionei para botão de form */
#botao {
color: #356935;
background-color: #ABF1AB;
}

/* Styles for the main text on the page. */

#main-text {
margin-top: 0;
margin-bottom: 50px;
margin-left: 170px;
margin-right: 50px;
height: 180px;}

p, ul, ol {
font-size: .8em;
line-height: 1.9em;
margin-top: 0;
margin-bottom: 17px;
margin-left: 0;
margin-right: 0;
padding: 0;
}



ol, ul {
margin-left: 25px;
}

a:link, a:visited {
color: #2200aa;
text-decoration: none;
font-weight: normal;
font-size: 11px;
}

a:hover {
color: black;
text-decoration: none;
font-weight: bold;
}


#top-menu {
position: absolute;
top: 5px;
left: 25px;
text-align: left;
}

/* Styles for the navbar on the left side. */

#left-menu {
position: absolute;
top: 50px;
left: 25px;
width: 120px;
border-right: 1px #999 dashed;
text-align: right;
}

#left-menu p {
padding-right: 10px;
margin-bottom: 5px;
font-size: 11px;
line-height: 25px;
}

#left-menu a:link, #left-menu a:visited {
color: #2200aa;
}

#left-menu a:hover, #left-menu a.current {
color: #2200aa;
}

/* Styles for the footer at the bottom of the page */

#footer {
text-align: left;
background-color: #A8F1AC;
color: #219328;
margin-bottom: 0;
padding-top: 10px;
padding-bottom: 10px;
border-top: 1px black solid;
font-size: 11px;
word-spacing: 5px;
}

#footer_inf{
background-color: #A8F1AC;
margin-bottom: 0;
padding-top: 10px;
padding-bottom: 10px;
border-top: 1px black solid;
}

#footer a:link, #footer a:visited {
color: #2200aa;
}

#footer a:hover {
color: black;
text-decoration: underline;
}

table {
background-color: #D0F3D0;
}

td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 24px;
	color: #356935;
}

a {
	color: #356935;
	text-decoration: none;
}
/*
img {
	border-top: 2px #149614 solid;
	border-bottom: 2px #149614 solid;
}*/

/* Forms Controls*/

form {
	margin-left: 0;
    background-color: #C5F5BF;
    text-align: left;
}

input {
background-color: #B5F7A2;
border-style: 1px solid;
border-color: black gray gray black;
color: green;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
}

input:focus {
background-color: #B5F7A2;
border-style: 1px solid;
border-color: red red red red;
color: green;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
}

.submit{
background-color: #276527;
font-weight: bold;
color: white;
text-decoration: underline;
}
.submit:hover {
color: yellow;
/*cursor:pointer;*/
}

select { 
background-color: #B5F7A2;
font:12px verdana, arial, helvetica, sans-serif;
color:black;
}

select:focus { 
background-color: #276527;
font:12px verdana, arial, helvetica, sans-serif;
color:white;
}

#popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 5px #999;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #FFF;
	background: #173A18;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_content {
	background: 16px 16px no-repeat url(images/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_content.alert {
	background-image: url(images/info.gif);
}

#popup_content.confirm {
	background-image: url(images/important.gif);
}

#popup_content.prompt {
	background-image: url(images/help.gif);
}

#popup_message {
	padding-left: 48px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}

/* status_msg */
#status_msg{
background-color: #177B0C;
color: white;
/*border-top: 1px black solid;
border-bottom: 1px black solid;*/
}
/* /status_msg */
